* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*TOPO LOGO/MENU*/
header {
    height: 100px;
    background-color: #000;
}
.header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1140px;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    
    width: 100px;
    height: 100px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    display: flex;
    list-style: none;
}
.menu a {
    display: inline-flex;
    align-items: center;
    height: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    font-size: 12px;
    padding: 0 10px;
    border-bottom: 5px solid #000000;
}
.menu a:hover,
.menu li.active a {
    border-bottom: 5px solid #b78c59;
}

/*BANNER SLIDERS*/
.banner {
    background-image: url('../images/bg.jpg');
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 100px);
}
.banner .sliders {
    display: inline-flex;

    width: 300vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    max-width: 1140px;
    height: 100%;
}
.banner h1,
.banner h2 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.banner h1 {
    font-size: 52px;
    font-weight: 700;
}
.banner span {
    font-weight: 700;
    color: #b78c59;
}
.banner h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button {
    display: inline-flex;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 40px;
    background-color: #b78c59;
    border-radius: 20px;
}

.banner .slider-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b78c59;
    border-radius: 8px;
    margin: 0 10px;
}
.banner .pointer.active {
    background-color: #b78c59;
}

.default {
    padding: 60px 0;
}
.section-title,
.section-desc {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.section-title {
    font-size: 26px;
    font-weight: 700;
}
.section-desc {
    font-size: 12px;
    font-weight: 600;
    color: #b3b3b3;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section-body {
    width: 100%;
    margin: auto;
    max-width: 1140px;
}





/* CSS DE AREAS ESPECIFICAS */
/* SECTION ABOUT US */
.section-aboutus {
    display: flex;
    justify-content: center;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    padding-right: 20px;
    color: #242424;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}
.section-aboutus--right {
    margin: 0 20px;
    width: 460px;
    height: 315px;
    box-shadow: 0 10px 20px #000;
    background-color: #CCC;
}


/* SERVICES */ 