* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*TOPO LOGO/MENU*/
header {
    height: 100px;
    background-color: #000;
}
.header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1140px;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    
    width: 100px;
    height: 100px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    display: flex;
    list-style: none;
}
.menu a {
    display: inline-flex;
    align-items: center;
    height: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    font-size: 12px;
    padding: 0 10px;
    border-bottom: 5px solid #000000;
}
.menu a:hover,
.menu li.active a {
    border-bottom: 5px solid #b78c59;
}

/*BANNER SLIDERS*/
.banner {
    background-image: url('../images/bg.jpg');
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 100px);
}
.banner .sliders {
    display: inline-flex;

    width: 300vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    max-width: 1140px;
    height: 100%;
}
.banner h1,
.banner h2 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.banner h1 {
    font-size: 52px;
    font-weight: 700;
}
.banner span {
    font-weight: 700;
    color: #b78c59;
}
.banner h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button {
    display: inline-flex;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 40px;
    background-color: #b78c59;
    border-radius: 20px;
}

.banner .slider-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b78c59;
    border-radius: 8px;
    margin: 0 10px;
}
.banner .pointer.active {
    background-color: #b78c59;
}

.default {
    padding: 60px 0;
}
.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title {
    color: #000;
}
.default.light .section-body {
    color: #000000;
}
.default.dark {
    background-color: #000000;
}
.default.dark .section-title {
    color: #FFF;
}
.default.dark .section-body {
    color: #FFF;
}


.section-title,
.section-desc {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.section-title {
    font-size: 26px;
    font-weight: 700;
}
.section-desc {
    font-size: 12px;
    font-weight: 600;
    color: #b3b3b3;
    margin-top: 10px;
    margin-bottom: 50px;
}
.section-body {
    width: 100%;
    margin: auto;
    max-width: 1140px;
}





/* CSS DE AREAS ESPECIFICAS */
/* SECTION ABOUT US */
.section-aboutus {
    display: flex;
    justify-content: center;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    padding-right: 20px;
    color: #242424;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}
.section-aboutus--right {
    margin: 0 20px;
    width: 460px;
    height: 315px;
    box-shadow: 0 10px 20px #000;
    background-color: #CCC;
}


/*********************************************************************/


/* SERVICES */ 
.section-services {
    display: flex;
    text-align: center;
}
.section-services--item {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #333;
    margin-top: 30px;
}
.section-services--item:first-child {
    border-left: 1px solid #383838;
}
.section-services--title {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}
.section-services--desc {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
}

/**************************************************************/


/* OUR PROJECTS */

.section-projects {
    display: flex;
    flex-direction: column;
}
.section-projects--filters {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.section-projects--filters ul {
    display: inline-flex;
    list-style: none;
    border: 1px solid #cfcfcf;
    background-color: #ededed;
    border-radius: 30px;
    padding: 0 20px;
}
.section-projects--filters li {
    color: #010101;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    border-left: 1px solid #cfcfcf;
    border-bottom: 3px solid #ededed;
    cursor: pointer;
}
.section-projects--filters li:hover {
    border-bottom: 3px solid #b78c59;
}
.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1140px;
}
.section-projects--photo {
    width: 260px;
    height: 165px;
    margin: 10px; 
}

.section-projects--photoarea {
    width: inherit;
    height: inherit;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}



/* OUR TEAM */

.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team--area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-team {
    max-width: 880px;
    margin: auto;
    overflow: hidden;
}
.section-team .sliders {
    display: flex;
    width: 300vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    margin-right: 20px;
    background-color: #FFF;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-team--image img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}
.section-team--name {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}
.section-team--role {
    color: #333;
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px;
}
.section-team--media {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-team--media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #CCC;
    margin-right: 10px;
}
.section-team--media-item.active {
    background-color: #b78c59;
}

.section-team .slider-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.section-team .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b78c59;
    border-radius: 8px;
    margin: 0 10px;
}
.section-team .pointer.active {
    background-color: #b78c59;
}




/* CLIENTS */

.section-clients {
    width: 100vw;
    max-width: 770px;
    margin: auto;
    overflow: hidden;
}
.section-clients .sliders {
    display: flex;
    width: 1000vw;
    height: 100%;
}
.section-clients .slide {
    width: 100vw;
    max-width: 770px;
    height: 100%;
    margin-right: 20px;

}
.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #f7f7f7;
    line-height: 22px;
}
.section-clients--name {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}
.section-clients--role {
    color: #333;
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px;
}
.section-clients--quote {
    margin-top: 20px;
    margin-bottom: 15px;
}


.section-clients .slider-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b78c59;
    border-radius: 8px;
    margin: 0 10px;
}
.section-clients .pointer.active {
    background-color: #b78c59;
}


/*  EMPRESAS  */

.section-empresas {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #FFF;
}
.section-empresas--image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 130px;
}



/* PRICE */

.default.bg-price {
    background-color: #EDEDED;
}
.section-prices {
    display: flex;
    justify-content: space-between;
}
.section-prices--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: auto;
    background-color: #FFF;
    padding: 30px 0;
    
}
.section-price--version {
    color: #242424;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.section-price--valor {
    text-align: center;
    margin-top: 15px;
}
.section-price--valor h1 {
    text-transform: uppercase;
    color: #121212;
}
.section-price--valor h2 {
    text-transform: uppercase;
    color: #999;
    font-size: 10px;
    font-weight: 500;
}
.section-price--desc {
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-price--desc p {
    color: #555;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: center;
}
.section-prices--item .button2 {
    display: inline-block;
    color: #EEE;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #373737;
}
.section-prices--item .button2.active {
    background-color: #b78c59;
}